[Unit]
Description=Bilisim Altyapi Odev B201200028

[Service]
Type=simple
ExecStart=/usr/local/bin/fahricskn.sh

[Install]
WantedBy=multi-user.target
